[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
jupyter = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
pyarrow = "*"
sqlalchemy = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
